* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.col-4{
    width: 25%;
}
.col-2{
    width: 50%;
}
/* html{
    width: 100%;
}
body {
    width: 100%;
    
} */
#info >p {
    display: inline-block;
    color: #fff;
    padding: 8px 9px 0;
    font-size: 12px;
    
}
#info {
    background-color: #000;
    height: 32px;
    
}
#info .p1{
    margin-left: 95px;
}
#info .p2{
    margin-left: 60px;
}
#info .p3{
    margin-left: 490px;
}

#un {
    height: 140px;
    position: relative;
    /* text-align: center; */
    
}
#un > li {
    display: inline-block;
    
    
}
#un li  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.search{
    font-size: 25px;
    margin-left: 60px;
}
#un .logo{
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 40px;
    margin-top: 55px;
    margin-left: 130px;
}
#un .gender {
    font-size: 20px;
    margin-left: 30px;
}
#un .btn-search {
    top: 58px;
    right: 610px;
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    width: 100px;
    height: 33px;
    padding: 6px 10px;
}

#un .unn{
    font-size: 18px;
    margin-left: 98px;
}
#Categories > li {
    display: inline-block;
    padding: 16px 32px ;
    
}
#Categories {
    text-align: center;
    height: 50px;
}

#banner {
    background-image: url(/themify-icons/image/Untitled.png);
    height: 647px;
    text-decoration: none;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
}
 #banner .title-1 {
     font-size: 13px;
     top: 103px;
     left: 130px;
     position: absolute;
    
     
 }
 #banner .title-2{
    position: absolute;
    top: 137px;
    left: 130px;
    Width:450px;
    Height:73px;
    font-size: 65px;
    font-weight: bold;
 }
 #banner .title-3{
    position: absolute;
    top: 223px;
    left: 230px;
    font-weight: bold;
    font-size: 65px;
 }
 #banner .btn-discover{
    text-decoration: none;
    color: #fff;
    padding: 10px 32px;
 }
 #banner .btn {
    position: absolute;
    top: 384px;
    left: 130px;
    background-color: #000;
    color: #fff;
    height: 38px;
    width: 120px;
    line-height: 36px;
 }
 #banner .icon {
     position: absolute;
     text-decoration: none;
     color: #000;
     top: 390px;
     left: 330px;
     font-size: 24px;
 }
 #banner .under-line {
     position: absolute;
     left: 130px;
     bottom: 69px;
     color: #B3C4D7;
     font-size: 20px;
     /* font-weight: 900; */
 }
 #banner p i {
     color: #fff;
 }
 #banner .name-product {
     position: absolute;
     width: 105px;
     height: 36px;
     right: 146px;
     bottom: 87px;
     font-weight: bold;
     text-align: right;    
 }
 #banner .name-pdt {
     color: #fff;
 }

#brands {
    position: relative;
    width: 100%;
    height: 147px;
}
#brands > img {
    margin-left: 100px;
    margin-top: 42px;
}
#brands > p {
    position: absolute;
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    top: 71px;
    right: 60px;
}

#fashion-trending {
    height: 810px;
    background-color: #FBFBFB;
    position: relative;
}
#fashion-trending .title-ft {
    height: 50px;
    width: 400px;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 130px;
}
#fashion-trending .hoodie {
    position: absolute;
    height: 504px;
    width: 380px;
    left: 130px;
    top: 300px;
}
#fashion-trending .d-or {
    position: absolute;
    width: 484px;
    height: 103px;
    left: 445px;
    top: 350px;
}
#fashion-trending .drive {
    position: absolute;
    width: 492px;
    height: 103px;
    left: 644px;
    top: 475px;
    z-index: 1;
}
#fashion-trending .hat {
    position: absolute;
    width: 200px;
    height: 250px;
    background-color: #C5E5E9;
    right: 130px;
    top: 300px;
}
#fashion-trending .hat img {
    padding-top: 61px;
}
#fashion-trending .shoes {
    position: absolute;
    width: 226px;
    height: 295px;
    background-color: #C7D1EB;
    right: 230px;
    top: 508px;
}
#fashion-trending .shoes img {
    margin-top: 34px;
    margin-left: -55px;
}
#fashion-trending .description{
    position: absolute;
    right: 598px;
    top: 612px;
}
#fashion-trending .btn-buy-now {
    position: absolute;
    top: 764px;
    right: 734px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 32px;
}

#new-season {
    height: 920px;
    background-color: #FBFBFB;
    position: relative;
}
#new-season .title-ns {
    position: absolute;
    width: 900px;
    height: 50px;
    font-size: 42px;
    font-weight: bold;
    top: 180px;
    left: 130px;
}
#new-season .prod-1 {
    position: absolute;
    background-color: #BACBF9;
    height: 436px;
    width: 580px;
    top: 320px;
    left: 130px;
}
#new-season .detail {
    position: absolute;
    width: 532px;
    height: 360px;
    right: 238px;
    top: 350px;
}
#new-season .detail img{
    background-color: #FFB7B7;
    width: 100%;
    height: 100%;
}
#new-season .detail .brand,
#new-season .detail .price{
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
}
#new-season .detail .text{
    padding: 10px 0;
    background-color: #fff;
    padding-left: 50px;
}
#new-season .detail .price{
    margin-left: 123px;
}
#new-season .next-page{
    position: absolute;
    right: 130px;
    top: 400px;
}
#new-season .next-page .btn-icon {
    font-size: 52px;
    margin-top: 35px;
}
#new-season .under-line{
    position: absolute;
    font-size: 20px;
    top: 301px;
    left: 724px;
    color: #F1F1F1;
}


#discover {
    background-image: url(/themify-icons/image/Untitled2.png);
    height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#discover p {
    margin-left: 130px;
}
#discover .d1{
    height: 18px;
    width: 110px;
    padding-top: 100px;
}
#discover .d2{
    height: 120px;
    width: 360px;
    font-size: 52px;
    font-weight: bold;
    margin-top: 30px;
}
#discover .d3{
    height: 54px;
    width: 280px;
    font-size: 16px;
    margin-top: 42px;
}
#discover .btn-discover{
    width: 121px;
    height: 38px; 
    text-decoration: none;
    margin-top: 20px;
    margin-left: 130px;
    color: #fff;
    background-color: #000;
    position: absolute;
    bottom: 100px;
    font-size: 50px;
    font-size: 15px;
    padding: 10px 32px;
} 

#new-releases {
    height: 1200px;
    background-color: #E5E5E5;
}
#new-releases .releases-title {
    font-size: 30px;
    padding-top: 106px;
    margin-left: 130px;
    font-weight: bold;
}
#new-releases .product-list-all{
    margin-top: 100px;
}
#new-releases .product-list-all .product-list{
    text-align: center;
    margin-top: 80px;
}
#new-releases .product-item {
    height: 382px;
    width: 280px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#new-releases .product-item img{
    background-color: #F1F1F1;
    width: 100%;
}
#new-releases .product-item .icon{
    position: absolute;
    top: 5px;
    right: 7px;
}
#new-releases .product-item .product-body{
    background-color: #fff;
    height: 97px;
    width: 280px;
}
#new-releases .product-item .product-body .product-name{
    text-align: center;
    padding-top: 20px;
}
#new-releases .product-item .product-body .product-price{
    font-weight: bold;
    margin-left: 15px;
    padding-top: 20px;
    display: inline-block;
}
#new-releases .product-item .product-body .product-amount-sold{
    margin-left: 133px;
    display: inline-block;
}
#discover-list {
    height: 1500px;
    background-color: #E5E5E5;
}
#discover-list .discover-list-r1 {
    text-align: center;
}
#discover-list .discover-list-r1 .discover-item{
    position: relative;
    /* background-color: #C5E5E9; */
    width: 580px;
    height: 418px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#discover-list .discover-list-r1 .discover-item .l1{
    position: absolute;
    left: 90px;
    font-size: 20px;
    top: 90px;
    color: #fff;
}
#discover-list .discover-list-r1 .discover-item .l2{
    font-size: 60px;
    color: #fff;
    position: absolute;
    top: 120px;
    left: 90px;
}
#discover-list .discover-list-r1 .discover-item .l3{
    font-size: 60px;
    color: #fff;
    position: absolute;
    top: 176px;
    left: 192px;
}
#discover-list .discover-list-r1 .discover-item .btn-click{
    width: 121px;
    height: 38px; 
    text-decoration: none;
    color: #000;
    background-color: #fff;
    position: absolute;
    padding: 9px 31px;
    left: 90px;
    bottom: 80px;
}
#discover-list .discover-list-r2 {
    /* text-align: center; */
}
#discover-list .discover-list-r2 .discover-item1,
#discover-list .discover-list-r2 .discover-item2{
    width: 580px;
    height: 418px;
    display: inline-block;
    margin-left: 251px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}
#discover-list .discover-list-r2 .discover-item1 i{
    position: absolute;
    font-size: 65px;
    top: 189px;
    left: 266px;
}
#discover-list .discover-list-r2 .discover-item1 .p1{
    position: absolute;
    top: 30px;
    right: -462px;
    font-size: 53px;
    font-weight: bold;
}
#discover-list .discover-list-r2 .discover-item1 .p2{
    position: absolute;
    top: 181px;
    right: -470px;
    font-size: 15px;
}
#discover-list .discover-list-r2 .discover-item1 .btn-click{
    width: 121px;
    height: 38px; 
    text-decoration: none;
    color: #fff;
    background-color: #000;
    position: absolute;
    padding: 9px 31px;
    top: 210px;
    right: -470px;
}